.fondo{
    background-image: url(imagenes/fondomorado.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondoaura{
    background-image: url(imagenes/fondo1.jpg);
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondobosque{
    background-image: url(imagenes/bosque.jpg);
    height: 300vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondocolores{
    background-image: url(imagenes/colores.jpg);
    height: 110vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.oscuro{
    background-image: url(imagenes/oscuro1.jpg);
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dragon{
    background-image: url(imagenes/dragones.jpg);
    height: 150vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.doble{
    background-image: url(imagenes/fondo2.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
